[package]
name = "dfw"
version = "1.2.1-alpha.0"
edition = "2018"
authors = ["Pit Kleyersburg <pitkley@googlemail.com>"]
license = "MIT/Apache-2.0"
description = "Docker firewall framework, in Rust"
homepage = "https://github.com/pitkley/dfw"
repository = "https://github.com/pitkley/dfw.git"
readme = "README.md"

categories = ["command-line-interface", "command-line-utilities"]
keywords = ["cli", "docker", "firewall"]

include = [
    "**/*.rs",
    "resources/**/*",
    "Cargo.toml",
    "LICENSE-*",
]

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
clap = "^2.33"
crossbeam-channel = "^0.4"
derive_builder = "^0.9"
failure= "^0.1"
futures = "^0.1"
glob = "^0.3"
iptables = "^0.2"
lazy_static = "^1"
libc = "^0.2"
serde = { version = "^1", features = ["derive"] }
signal-hook = "^0.1"
shiplift = "^0.6"
slog = { version = "^2", features = ["max_level_trace"] }
sloggers = "^1.0"
strum = "^0.19"
strum_macros = "^0.19"
tempfile = "^3.1"
time = "^0.2"
tokio = "^0.1"
toml = "^0.5"
url = "^2.1"

[dev-dependencies]
eval = "^0.4"
itertools = "0.9.0"
lazy_static = "^1"
regex = "^1"
paste = "1.0.0"

[build-dependencies]
version-compare = "^0.0.11"

[[bin]]
name = "dfw"
path = "src/bin/dfw.rs"
doc = false

[features]
docker-tests = []

[profile.release]
lto = true
codegen-units = 1
incremental = false

