[package]
name = "dfw"
version = "1.0.2-alpha.0"
edition = "2018"
authors = ["Pit Kleyersburg <pitkley@googlemail.com>"]
license = "MIT/Apache-2.0"
description = "Docker firewall framework, in Rust"
homepage = "https://github.com/pitkley/dfw"
repository = "https://github.com/pitkley/dfw.git"

categories = ["command-line-interface", "command-line-utilities"]
keywords = ["cli", "docker", "firewall"]

include = [
    "**/*.rs",
    "resources/**/*",
    "Cargo.toml",
    "LICENSE-*",
]

[dependencies]
clap = "^2.33"
crossbeam-channel = "^0.3"
derive_builder = "^0.7"
failure= "^0.1"
glob = "^0.3"
iptables = "^0.2"
libc = "^0.2"
serde = { version = "^1", features = ["derive"] }
signal-hook = "^0.1"
shiplift = "^0.3"
slog = { version = "^2", features = ["max_level_trace"] }
sloggers = "^0.3"
strum = "^0.16"
strum_macros = "^0.16"
tempfile = "^3.1"
time = "^0.1"
toml = "^0.5"
url = "^2.1"

[dev-dependencies]
eval = "^0.4"
itertools = "0.8.1"
lazy_static = "^1"
regex = "^1"

[[bin]]
name = "dfw"
path = "src/bin/dfw.rs"
doc = false

[features]
docker-tests = []

[profile.release]
lto = true
codegen-units = 1
incremental = false

